* {
    padding: 0;
    margin: 0;

}

body {
    background-color: rgb(154, 242, 23);
}

.container {
    text-align: center;
    margin: 1rem 10rem;
    background: linear-gradient(45deg,
            hsla(340, 100%, 55%, 1) 0%,
            hsla(340, 100%, 55%, 0) 70%),
        linear-gradient(135deg,
            hsla(225, 95%, 50%, 1) 10%,
            hsla(225, 95%, 50%, 0) 80%),
        linear-gradient(225deg,
            hsla(140, 90%, 50%, 1) 10%,
            hsla(140, 90%, 50%, 0) 80%),
        linear-gradient(315deg,
            hsla(35, 95%, 55%, 1) 100%,
            hsla(35, 95%, 55%, 0) 70%);
    display: inline-block;
    position: relative;
    width: 80vw;
    height: 85vh;
    box-shadow: 3px 5px 3px 5px;
}

.tittle {

    margin: 2rem 2rem;
    font-size: 2rem;
    color: #fff;
    text-shadow: 4px 3px #0b0b0b;
}

.main-btn {
    display: flex;
    flex-wrap: wrap;
}




.btn {
    text-transform: uppercase;
    outline: none;
    border: 10px solid #404B69;
    font-size: 3rem;
    font-family: 'Arvo', cursive;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 12vh;
    height: 12vh;

    margin: 10px;
    background-color: white;

}

.btn-center {
    margin-left: 8rem;
}

.btn-left {
    margin-left: 3.9rem;
}

.btn-last {
    margin-left: 15rem;
}

h3 {
    text-align: center;
    margin-top: 1px;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
    transform: translateY(30%);
    transform: translateY(-30%);
}

.num:hover {
    transform: rotate(180deg);
    transform: translateY(30%);
}



@media(max-width:400px) {
    body {
        display: fixed;

    }
    .container {
        display: fixed;
        text-align: center;
        margin: .4rem 1rem;
        width: 95vw;
        height: 91vh;
    }

    .tittle {

        margin: 3rem .1rem;
        font-size: 1rem;
    }

    .btn {
        border: 5px solid #404B69;
        font-size: .8rem;
        width: 4.7vh;
        height: 7vh;
        margin: 15px 1px;
    }

    .btn-center {
        margin-left: 2rem;
    }

    .btn-left {
        margin-left: 1rem;
    }

    .btn-last {
        margin-left: 4rem;
    }

}


/* @media(max-width:368px) {
    .container {
        text-align: center;
        margin: .4rem 1rem;
        width: 91vw;
        height: 91vh;
    }

    .tittle {

        margin: 3rem .1rem;
        font-size: 1rem;

    }


    .btn {

        border: 5px solid #404B69;
        font-size: .8rem;
        width: 4.7vh;
        height: 7vh;
        margin: 15px 1px;
    }

    .btn-center {
        margin-left: 1rem;
    }

    .btn-left {
        margin-left: rem;
    }

    .btn-last {
        margin-left: 3rem;
    }

} */
